body {
  margin: 0;
  background: black;
  overflow: hidden;
  font-family: monospace;
}

#ui {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.love_word {
  position: absolute;
  color: #ea80b0;
  font-size: 1.4rem;
  text-shadow: 0 0 10px #fff;
  letter-spacing: 2px;
  white-space: nowrap;
}
